---
import { getCollection, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { Image } from "astro:assets";

export async function getStaticPaths() {
    const posts = await getCollection("blog");

    return posts.map((post) => ({
        params: { slug: post.data.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await render(post);
new Intl.DateTimeFormat("de-DE", {
    day: "2-digit",
    month: "long",
    year: "numeric",
});
---

<Layout
    title={post.data.title}
    description={post.data.teaser}
    keywords={`Blog, Artikel, ${post.data.title}, Jannik Menzel, Informatik, Webentwicklung`}
    og={{
        title: post.data.title,
        description: post.data.teaser,
        url: `https://jannikmenzel.me/blog/${post.data.slug}`,
        image: post.data.image?.src
            ? `https://jannikmenzel.me${post.data.image.src}`
            : "https://jannikmenzel.me/social-preview.png",
    }}
    twitter={{
        title: post.data.title,
        description: post.data.teaser,
        image: post.data.image?.src
            ? `https://jannikmenzel.me${post.data.image.src}`
            : "https://jannikmenzel.me/social-preview.png",
    }}
    canonical={`https://jannikmenzel.me/blog/${post.data.slug}`}
    structuredData={{
        "@context": "https://schema.org",
        "@type": "BlogPosting",
        headline: post.data.title,
        description: post.data.teaser,
        image: post.data.image?.src
            ? `https://jannikmenzel.me${post.data.image.src}`
            : "https://jannikmenzel.me/social-preview.png",
        author: {
            "@type": "Person",
            name: "Jannik Menzel",
        },
        datePublished: post.data.date,
        url: `https://jannikmenzel.me/blog/${post.data.slug}`,
    }}
>
    <article class="container p-4 sm:p-16" style="max-width: 1100px;">
        {
            post.data.image && (
                <Image
                    src={post.data.image}
                    alt={post.data.title}
                    loading={"eager"}
                    class="w-full max-h-[30rem] mb-8 border border-border object-cover"
                />
            )
        }
        <div class="markdown-content">
            <Content />
        </div>
    </article>
</Layout>
